body {background-color: grey;
	}

.container-table {
	display:flex;
	justify-content: center;
	align-items: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 1em 0;
    font-size: 1em;
    font-family: sans-serif;
	width: 50%;
    min-width: 30em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 0.9em 1em;
}

.styled-table tbody tr {
    border-bottom: 0.2em solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 0.5em solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
